@mixin border-1px($color) {
  position: relative;
  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    @media (-webkit-device-pixel-ratio: 1), (min-device-pixel-ratio: 1) {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
    }
    @media (-webkit-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
    }
    @media (-webkit-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
    }
    border-top: 1px solid $color;
    content: '';
  }
}

@mixin bg-image($url) {
  background-image: url($url + '@2x.png');
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: url($url + '@3x.png');
  }
}

@mixin blur($num:10) {
  -webkit-filter: blur($num + px); /* Chrome, Opera */
  -moz-filter: blur($num + px);
  -ms-filter: blur($num + px);
  filter: blur($num + px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=$num, MakeShadow=false); /* IE6~IE9 */
}

@mixin clearfix{
  *zoom: 1;
  &:after{
    display: table;
  }
  &:before,
  &:after {
    display: table;
    line-height: 0;
    content: "";
  }
  &:after {
    clear: both;
  }
}
